<div class="container">

    <div class="row mt-5 mb-5">

        <div class="col-md-4">

            <div class="card border-0" style="width: 18rem;">

                <div class="d-flex justify-content-center">
                    <img src="..." class="card-img-top rounded-circle w-75" alt="...">
                    <div class="card-body"></div>
                </div>

                <h5 class="card-title">Eduardo Alves</h5>

                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                <a href="https://www.linkedin.com/in/eduardo-alves-73390216b/" class="btn btn-outline-info d-flex justify-content-center mb-3" target="_blank">Linkedin</a>
                
                <a href="https://github.com/drd-alves" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">Github</a>
            </div>
        </div>

        <div class="col-md-8">

            <div>
                <h3 class="text-center mb-4 text-monospace">Deletar postagem</h3>

            </div>
            
            <div class="card mb-4" >

                <div class="card-header">
                 <h5 class="card-title">{{postagem.titulo}}</h5>            
                </div>

                <div class="card-body">
                    <p class="card-text">{{postagem.texto}}</p>

                    <small class="form-text m-0 text-muted mb-3 text-monospace text-right" > 
                        Postado em {{ postagem.data | date: 'dd/MM/yyyy'}} às {{ postagem.data | date: 'HH:mm' }}
                    </small>
                    
                </div>
            </div>

            <hr class="mt-5 mb-5">

            <div class="row">
                <div class="col-md-12 text-center text-monospace">
                    <h5>Tem certeza que deseja apagar essa postagem?</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <button class="btn btn-outline-success mr-3 mt-3" (click)='btnSim()'>Sim</button>
                    <button class="btn btn-outline-danger mr-3 mt-3" (click)='btnNao()'>Não</button>
                </div>
            </div>
        </div>
    </div>
</div>